@using EntityLayer.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Action("AboutPartial", "About")

<table class="table table-bordered mt-3">
    <tr>
        <th>ID</th>
        <th>Metin 1</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>@item.AboutDetails1</td>
        </tr>
    }
</table>

